<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>PublishingManifest</key>
				<dict>
					<key>rw:plugin:blog</key>
					<dict>
						<key>CreationDate</key>
						<date>2010-04-02T13:54:47Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>DocumentGUID</key>
						<string>4F646D17-2AA8-407B-BAEB-955B437C2318</string>
						<key>PageDigests</key>
						<dict>
							<key>rss.gif</key>
							<dict>
								<key>Digest</key>
								<data>
								ySu0h74kFZbd
								w1d11rHDPA==
								</data>
								<key>Size</key>
								<integer>219</integer>
							</dict>
							<key>smiley_angry.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OsvBGlBtLs1C
								xAB3/F5vkA==
								</data>
								<key>Size</key>
								<integer>1275</integer>
							</dict>
							<key>smiley_embarrassed.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Ok+zrbTJSQbz
								YHvbtXa5FQ==
								</data>
								<key>Size</key>
								<integer>1310</integer>
							</dict>
							<key>smiley_footinmouth.png</key>
							<dict>
								<key>Digest</key>
								<data>
								oNlmERQNe+Jv
								bhxYf6Q/sQ==
								</data>
								<key>Size</key>
								<integer>1254</integer>
							</dict>
							<key>smiley_gasp.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3fIF+LsL4I97
								3PnZdsHYdg==
								</data>
								<key>Size</key>
								<integer>1208</integer>
							</dict>
							<key>smiley_laugh.png</key>
							<dict>
								<key>Digest</key>
								<data>
								aiKkmJLIzkmw
								I7ENY7ns/A==
								</data>
								<key>Size</key>
								<integer>1283</integer>
							</dict>
							<key>smiley_sad.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JrI6GFcEDYoD
								NPeCi0NJDQ==
								</data>
								<key>Size</key>
								<integer>1263</integer>
							</dict>
							<key>smiley_smile.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ek1FWaeOXYzG
								u9xa5IUf6A==
								</data>
								<key>Size</key>
								<integer>1240</integer>
							</dict>
							<key>smiley_wink.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zIRR5aU+gUMZ
								uXop1aVLFA==
								</data>
								<key>Size</key>
								<integer>1236</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:plugin:blog</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:theme:dark_glass_copy</key>
					<dict>
						<key>CreationDate</key>
						<date>2010-04-02T13:54:47Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>DocumentGUID</key>
						<string>4F646D17-2AA8-407B-BAEB-955B437C2318</string>
						<key>PageDigests</key>
						<dict>
							<key>css/sidebar/sidebar_hide.css</key>
							<dict>
								<key>Digest</key>
								<data>
								LlAFonemaC09
								2M3vyzll6Q==
								</data>
								<key>Size</key>
								<integer>186</integer>
							</dict>
							<key>css/sidebar/sidebar_left.css</key>
							<dict>
								<key>Digest</key>
								<data>
								AAq7H3VdjHXR
								vsgS/KEg3g==
								</data>
								<key>Size</key>
								<integer>136</integer>
							</dict>
							<key>css/sidebar/sidebar_right.css</key>
							<dict>
								<key>Digest</key>
								<data>
								EjqlmplMIBTO
								jnnKnbcozw==
								</data>
								<key>Size</key>
								<integer>84</integer>
							</dict>
							<key>handheld.css</key>
							<dict>
								<key>Digest</key>
								<data>
								07dAiKdfcAsY
								fWEcJvxr5g==
								</data>
								<key>Size</key>
								<integer>6005</integer>
							</dict>
							<key>images/bg.png</key>
							<dict>
								<key>Digest</key>
								<data>
								5RSPqd5LrSyu
								CsIyyhevkg==
								</data>
								<key>Size</key>
								<integer>124</integer>
							</dict>
							<key>images/bg_glow.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pgt7C/oluvEh
								NWA8cYvwvg==
								</data>
								<key>Size</key>
								<integer>18604</integer>
							</dict>
							<key>images/bg_glow.png</key>
							<dict>
								<key>Digest</key>
								<data>
								acXanrcboS9G
								BPPL2hzAPA==
								</data>
								<key>Size</key>
								<integer>17872</integer>
							</dict>
							<key>images/checkerboard.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LmDSNSz3mccn
								O3zIK9u05w==
								</data>
								<key>Size</key>
								<integer>8052</integer>
							</dict>
							<key>images/openMSX-debugger-logo-128.png</key>
							<dict>
								<key>Digest</key>
								<data>
								6dHMcHHtW5tW
								X0Tv/XQoLA==
								</data>
								<key>Size</key>
								<integer>15724</integer>
							</dict>
							<key>images/toolbar.png</key>
							<dict>
								<key>Digest</key>
								<data>
								utT61VPLj8vX
								Nt8R2GhdsA==
								</data>
								<key>Size</key>
								<integer>3921</integer>
							</dict>
							<key>images/toolbar.pxm</key>
							<dict>
								<key>Digest</key>
								<data>
								1bFlxW+vbcmV
								isz3PKHpsg==
								</data>
								<key>Size</key>
								<integer>9663</integer>
							</dict>
							<key>javascript.js</key>
							<dict>
								<key>Digest</key>
								<data>
								n0dN9DfVcKHY
								MmVnniBKtw==
								</data>
								<key>Size</key>
								<integer>14608</integer>
							</dict>
							<key>print.css</key>
							<dict>
								<key>Digest</key>
								<data>
								LhpQ+t7LkYJv
								Xpm/0tJfWg==
								</data>
								<key>Size</key>
								<integer>3802</integer>
							</dict>
							<key>styles.css</key>
							<dict>
								<key>Digest</key>
								<data>
								T5QPEQ28vlLc
								C98tyIirew==
								</data>
								<key>Size</key>
								<integer>13346</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:dark_glass_copy</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<false/>
					<key>BaseURL</key>
					<string>http://openmsx.fixato.net/</string>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>openMSX icons &amp;copy; &lt;a href="http://www.ericboon.com/"&gt;Eric &amp;quot;AuroraMSX&amp;quot; Boon&lt;/a&gt;, used with permission.</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.html</string>
						<string>index.php</string>
					</array>
					<key>EmailAddress</key>
					<string>fixato@gmail.com</string>
					<key>FavIconUsed</key>
					<false/>
					<key>LogoData</key>
					<data>
					iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYA
					AADDPmHLAAAACXBIWXMAAAsTAAALEwEAmpwY
					AAAAB3RJTUUH1QYFCyAiegioCQAAAB10RVh0
					Q29tbWVudABDcmVhdGVkIHdpdGggVGhlIEdJ
					TVDvZCVuAAAABmJLR0QAAAAAAJbgL40OAAAh
					50lEQVR42u2dCVgVVRvHz8xcEBFx11LDNfNz
					yy33Ja2MFBPQ3HdRQVFRUBEREBCJkEzNTAkt
					USv7TNNS+0jNBTdSxCVUJFd2cVdke7/3zJ2B
					YZh7uegF7rV7nuffeC9cgvP7v+95z5kzM4SY
					mqmZmqm9om25JaoOIcsGEhIUhApDrUKtUStw
					JSEBIYT4exGy1IYQv1oo1tRvRt2CEeDyBiiE
					GnQA9RgFCBu1TDgGoPwFLRWVg/CTUasJ8UXD
					+Fia+tKo2qcIPhjBBy9H+Blq6KICJeAD5OBR
					fihfQT5UuaiDhCwZjDIZwThSffAoPKYXQl8m
					iXg5fH8JeD8peEFLUN5UaATvXwlZ3JAQL9PQ
					YKDwcdxevgeVVxR+oAy+vyzii0W9AL4APmox
					yoseM1HDCVlkMoGBjfW2eDxOodvafg87dsTD
					P//ch5ycPP5IX9vabtWQ8v146A0ahMKAAd/C
					5Mk/g7d3FHh67ocJE36Cxo0/E+BTLaLHLBQW
					kp61TH1f8VGP8IMc8Xivfv3VEBX1D2hrUVGJ
					UL9+WJHIt7YOgtDQo3D79oNi35+fnw+XL6fD
					sGFbgGWpATwlWrATZTJBBRsAI395po3NGkhM
					vAe6tMTETLCxCeOj3sZmBZw9m1TiZ7KycsDJ
					6ScB/EIKX9DC3wjxMJmgYloQHfOPWluHQnx8
					BpSm0e9v3XoNXLuWqfNnHj7MwiEiXAJ/Psoj
					H49oAneTCcoZPlb7Qb/QIi8o6Bi8SKNAS9ti
					Ym5BjRo+InxB7mgCd39C5pkKw3KCT8f9EQg/
					18ZmNTx7lgPl1XJz82Hs2K0S+PNE3UcNJcTN
					ZIKyb8saoFLptC4w8AiUd4uKugIMI4U/V5Db
					bULmNDTxKVv4GGHLlonz+kuX0svdAJmZT7B4
					9JfAdxOVhwb4iZDZphXDsmuBGP2BaRR+s2Zr
					oCIanREMHhwugz9H1BE0QB0Tp7IzgJe4mmdr
					uwUqqoWFHZTBny3qHiGz3jVxKpMWgKk14KC4
					hu/svKfCDBAVdVkOHjWLHnFG4GpnYlUmzf8N
					VJa4nOvtfUARTnJyMri4uICjoyMcO1Z8ipiX
					l1/svcePH8PKlSvB09MTrl69WqIB0tIeysBT
					uQqaswZ/P5WJl/4N4CVdw58//3dFOIGBtEAk
					vLp27Sqb+2dCzOkDcDn+HBohr+B9Cl/8TP/+
					/Us0ADVRcfAzRSUT4mJaGNJvW4rVv/9a6Rr+
					yJHbdTZAdnY2rF83A84etYaHt8zg6hkVrAnr
					ADduXOe/TiNf/Ezr1q1LNEBq6kMN8GfQYzYe
					GxGyljFx058BqiL429Jz9l27rtdpCLh79y54
					erSHu7eHwoOMTbBzCwuZ11Vw74YKvBd2gDt3
					7vBpn0Y+hb9jxw4daoB4BfBULihnevREA5gW
					hfTX/CxQD6WbNaysAnDsztYKikb+rBl9ION6
					Y8jNvgrfbd4G8adVvAGo0hNV4OU5otRFoI/P
					HgXwInyqGcEmA+i1+WJn+j6W79TZvTteK6h1
					X62AuGgVPH/8E39q95sNi+Dh7UIDUO3c9jps
					375dZ/gpKQ/hzTf9tMCfTs0RZmKm9+aTIN+l
					M3jwdxpBZWRkgLtrZXiQ1AnhZ6Ny4YfI4UXg
					U9GaIHCpPW8QXdqGDUeB41xlKV/UNEGuq0y8
					9N6WHJJv0eK4xRAXl6wIKnj5Erh5QQXZTw8I
					cPNh66bexQxAtTW8BkRHR+u0DNyy5VKFqJ8m
					k+saEy+9N+8fi+7PW8SrZ8+vlFfrgjvC/dv1
					IT/vARogjzfBl6EqRQNkJJqB25wJWuE/e/Yc
					PDz+CwwjT/dS8FNRTnQIMBlA/23xuqJ78wq3
					Z3l6/iZbqEmDiDUW8OzBKh48Tf9372bCrq2s
					ogHojMB/cX14/vy5xnn/+vUHsfCcIwE/XQZe
					hD+FZofVJl56b16hReF7gJnZx9CzhwMs8JgJ
					G8OnwZlT3nD1Shx8/fXXkBBbHSv/m5gBnvMm
					iDm1A04fVM4AVLu2cRAfHy8sGD3E6eB2CAkJ
					guXLA8F1ZiBUqTJNC3wnCXwq5y9MvPRvgIBC
					+BNh+LBekHD1PDx9+hAivgmD9WsHQPJlFSRf
					UcG5E70h5SoHWQ83QV7uQ94A238IhH/iNBsg
					4awKwsNXQaD/OPhmTTU4F20DTzM9IOVWCET9
					vhaGDbHC/28TAbgcvAh/sqBpoSZeem+efmLk
					D3PoAfm5Z+DLNf7gMcsKYo9W4qd38TE4t7+m
					BpqWoFLPAPKy+Bpg1apAuPuPZgPQYWDiGHO4
					fl4FsUdUsPcnDtaGshC+ioXD+2pDUrwKVoWw
					wLLttcCfJGhqiIlXmRiA7sgdDHHHW8LxqNfg
					/X4M/LiJ1Qg18zpmgUeb+AxAl4ifJGs3wLmj
					HH+8E69+7/5NFXwWwEL7NgRNpuJN1r2LJf4O
					4xSiXoQ/kRpghYmX3tvCQPVu3F6QitG9dgUL
					v/7IQcsWBI7ss9YI9kFSBzTAc/D3D4RnKSot
					ZiluiJ+3cFCvLsGCkkOx/Hses1T4O4xUiPqJ
					Ek0xZQD9twUrqAEsKtnxxdz/dnI8qLferAZt
					W1WDxHMaYN4ww1pgPYStCCy2CqhN+3dw0LQR
					AcvKBG5fUsH2b1lIwfqiVs0mGqKeagJqPP1a
					sImX3tv89XQ7toWFKzhPrgFp1+j8XQUrg82h
					di0LPlJ3RHJ82lYC+n0EyxeJ2qDfv2nGp/95
					rpWgcmUVVLZQgeNgRl0knlHBhNHNRcAy+BMk
					8KkmfWripX8D/CTsw4dK5mNg3sy6kHS5Ej8c
					DBzAFpzOpcC+W8dhbcDBmcMqeJJkxgOks4Nr
					sYXp/QEaZfcPVWBrOAvrwsxh/mxzsLOlP8e6
					4Ge92YyF37AYTL1qDgvdOuH/d4IE/kQF+OME
					TUGzjjWdDNLzEHCMwhe3Y7OsEwJqB2ePVIFf
					trGYBUgBOFGVLQg0tmFgwyoVpm9zHv7tv1UQ
					5MNiJqHfoyr2GVFVrQjYD2L4tB8a2AR/1ngt
					KX+8xABj6b/vETLGtEVcv839dtG9+G5ogjnQ
					pWNnfnrn5c6CmRnRAJSBvr0swHMuCx3bmwNh
					iEbwoqzQAKcO0OKvCjRrMlSh0JNH/ViJxtDj
					YhMz/aV/CwSfL9uHz2/M5LgJ8HmQNT/vnzia
					KRGsLmLQICH+LMRFW2AROFBL1MvhU/CjBU04
					Scgo09YwPRmgbfF9+IU7clWqEXB0nxlfrc9w
					YvjKnYKsjnJgGFiPSmZZeIT6C//tjaL/vooK
					RzWRwDdTEfjEnhZ+VWDfHk/Izc0DP7+d4OPz
					swL8sRrgjxKFU9cRplrg5duYecrwCzdmNqzf
					Bw7/ZsFX8TQTqBBkMILO4TjIRuUI2oDAk1A5
					kvfuoroKkf/RBww/w9i6sTs8uJ8pnEwq1MGD
					l9AQOzSAF+GPFJVMyHBTLfDybeIWbfDFvXkt
					W3SGA7ut+emhzwIWxtdi4CbCfiYB/pVgCqos
					fP85in5PP0sCLlMY/rPfrW8F169fKgZfrqtX
					U8HdPRILygly8KgRgsb6m/i9XGuiLvzkF2G4
					ynblzoADBy7Db7/tgR83t+Ar/gO7ORjVhwGP
					2gxcEmBfQGULhsjA46+WLHzUkMDGL+l0zwLC
					gt9G+NdLhC/V3buPwMMjEovQMQL04YI+oQY4
					TcgwUy3w4q15eEngvb13FwESczoaggNa4pTP
					gi8O9+3gwMWOhS+rsfBfhE7Br6zKwIc2BGZP
					Z+DGBXM4tLcNLPVzhfT026WCL1VCQgrY2gZJ
					DCBq9AFChppM8AJtEiEDs5UvwpgBvXqF4Zh8
					RRHG48f3IWDpNPhhU131QtBlFb9e4IQF3pwe
					DIQFsHALi8bTh6qA6/TGsGlTBP85esHIixpA
					1MaNB8Dc3En4PcUtY06/47EPIVNN1wvonvob
					3Fen/6JRTzdlenru1AlGbOxp8PG2h83r1aeI
					qRlooUhPJo0bVR+CggLg/v37Bd+vDwPQ7ehT
					p67HolI07XRh5tBRUM87hDSdZkKsub1GSOV4
					9Xl3sRN78ZHUvLkvXLyYVGoo58/HwVdrl8LO
					//rD0qV+sPPnjfD8eVax79OHAagyMzOhTRsX
					4fd3E4YwcTcR/btcHhJiZ7qARIG9PSHWierF
					F3dh+zU9A2cH77zzKSQnP9ALIE0qrQFotGv6
					WmBgME5HpwgmmCdZx3AVTOCchTWC/7/VBPSP
					rkZI3eV4DECtxJcx6kifJ9yIiUZNY9QA6NEj
					FB4+fFam8F/EADk5ORq/RreaW1i8L0CfK8kE
					sySZgJqg+79uC1lNQtp/QUi3NEIchEJpvrDj
					d6FwAybaYc351N+9ewg8fZpd5vD1OQRQ3bt3
					D1i2pwS+uI4hXljiLJhgLBa6bab8S6L+NSx+
					miaqV83E27UuEeB7CkaYJxRL7THtB2OR9rRc
					4OvbALm5uTgEvC8YQAp/psQA4gbTUVjwfjD4
					VYZfhRAzTPX2wo2b/RXgi3ffskO9BjY2i+HW
					rcxyg/8iBqCQtWUAjhstS/3S6J8u22Fsl4r9
					VO9VhG+Bhd0y9R8dJNy1Wwq/FxSe6x/Hb8qw
					sHDCKdytcoWv7wxw8+ZNNMBgGfyZksvKil1X
					kE9Ip1WvYNqvNBP/4Exl+DTy3xc6gKbJ2qiB
					EBERXe7w9W2AS5cugbX1cEnlP1Mh+qW7i+np
					5mFYF9Ue+ioZoDUhjinqe/cHaBjz6YmU94Rx
					vzVMmrSJvxzL2A3w5ZdfYxE4UzC2qw7wnYTz
					Bx/GYtJs9Irw/8/uwoc1+AnX98sLPhohTVFW
					UL++G2RkPK4Q+Po2wLvvTpREv3g5uXTcl8IX
					9xbSM4kfo7p+9yrQ70/I4DzNkT9PiI5ZfNFH
					h4JffomtMPj6NMDBg0fAzGyEYIAZGsZ9cYOp
					uNFEzAKO1AS52Cf9jX1VL0x9Obe2yHcVaoD6
					MGzYugqFry8D0JlBx47DhOmfqwT+dNlVxNJt
					5eIOo8nCxhKaBXrhUEDMS+hkxoCLP9tLhfAX
					K8CfJUSHJVSvPhb++Sf9lTDAwoXLcBYzQxL9
					SuO+EvwxgugwMIQqm5DXh+rW1wZpgGFa4Ivj
					Ip0CNgM3t+8LHtNizAb4/POvcOonrfylqV9+
					IamY+sXtZeKWshHiMED7Jwb7srIxGsBSvRlC
					hL9AIfJpVFhA1apj4c6dexUOXzRAbGwsrFq1
					Bvz8/Pgjfa3LZ1evXgvm5kNlBtc07k+UbS6V
					7iek/TZMMMCQJ4TUGahDfxvc3UnN1Ct62uD3
					4s/0ubpuNQj4+/YdgxYtBuNwNB5UqkV80Wpm
					NgOsrOzBzm48nD17VvFzT548hZkzF2PaHy+M
					+7NfIPVL4X8iGGCIYIIeUUZaBL4dpU777grw
					pwqXYQ2B1NQHFQ4/PDwCqlUbJlmiFm9HN5+H
					yrIeUKeOI0RERBT53IkTp6B9e0c0jLPw982R
					7ASarkPqF3cVixtJRfg0kzgIBvg4ERNqN2Oc
					BQj7+eTwaYfYourCxInfvNQ5d33ol1/2QI0a
					YyTwxYdIijel8hD+hnkIegDs2rUHbt26hZnL
					HaN+oMJZPhcdUr8S/OES+LQGsBcNgHpnnTGm
					ADv1FG+27PTnZOFU77tw6lSiTpCePHlSJvBT
					U1OhdetxssfIitG/WDJ1XShksnFQpUpDaNhw
					DA4PsyUneuTr/NLoL2ncHyFJ/VL4QyQG+OAc
					9mdtYzNAVULqJao7QQqfdkBlnCt7w/PnORWa
					+hct8gVLy0AF+N6yO5ItEEAPkGzw0HSKV9NS
					ry7jvqMs+gcL4heGehhjFhiljnYnSUd0R7Xg
					L7mqSPgZGZmY+u21pP5FkucELpA9KUzXU7ya
					xv1RGlK/gyz12/Enx9Qm6B5prEuCSwhplKP+
					g2kE2OB0yQ6OH0+oUAOsX78Rx/S5GuB7yZ4U
					6iE5Ze0muUjFVXLfYKVxf6Is9esy7g8RgFP4
					gwQD0GPrK+ptdMbX6HLmJKxkUwhpl09IFWjQ
					YE6FV/5TprgJ6V5p3Jem/vkS+Lqm/skSA2ib
					70tTv4Nk3JfCtxXea34d+7GdMZ8coI9U86dD
					wpw5kRVugLZtHQTAPgqpXwrfQ/aYODH1u+g4
					7mtK/Z9oSP2DJan/I8EA9Gi1Xr2f0ribFyH9
					8rdsia5wA1hbvyeJeCX4mlL/LMkyr3yp10kL
					fF1SvzT6RfgD+BkT9t28V+AMMXOYdsKTJ1kV
					bgD1jt3FEompf6Ek8qXwS9rYWZql3k9KgC+m
					/g+F161w6GQbYwdyRm6AWvfbtvUyiKVfc/N3
					JVHvVULqV4LvUsJS73gJ/NEK4/5QLeO+GP22
					wvu1/zCGU8AltWZYyebPmvWtQRigadOPBciL
					SjHuzyxhd8+kUqT+ksb9AYJaY/RbD3gVdghN
					wLlsyuef7zUIA4wePVthyidN/XM1zPdd9Dzl
					Uxr3aer/QDhhVp/uFl70KhgAC0C7a6dPXzMI
					A9Dbx5qZlTTf1zbuK6V+OXxdpnyDZalf1Hv8
					TilCOqO6ffYqGCAU0+Lt27czDcIAp06dAkvL
					oQJ0eep3k63zu77AlG+0FviaUv9A4bWdsFG2
					hzAD6BVFSDvjezJ5g/rEYrAtY2c/kFnWsD6J
					MTdrnbVggQcEBvjChg1r4erVKxVqgk6dHAXw
					uqb+kk7xakv9jlpSv51k3Z/qLQF+P8EAXTLR
					AMbxZHKWJQ04lsyvV5f86WjHZC1fwubviuQg
					9hAHiX+p4Bwet0dwMH8mC317WsLw4Y5wLjam
					Qgzwyy+7oVq1CRrgzy7hah6lU7xKZ/m0LfUW
					FcsOgLfffg9u3LgJ7u7rBfh96XmAbELa2hg6
					+/+Ym5GfMdrz/ruJg7R4FdxNQF0VdEWtDKrL
					gvB7Dv7MgeMgBgYNGggXL54vdxOMHDlDOLXr
					UcK4r8vunpLGfXtZ5A8SzGAP1au/D76+AfD0
					qfpi2CVLIgT4feh+AFQ7T8Ne4mHIxb0/sjz0
					DNQiNxbcZ7Dg6sTCtPEMTBzJ8K93fsdBykU1
					/AL9jUbYwcE77Tnw9l5Y5ptAit7N4x506TIQ
					zM3nyLauzSwh9U/UcXePvOgThwL1uK9S9YKe
					Pe35mkT6e/3vf39BzZrUIL1RHejV0kGGzN/K
					bgDzkI94agAh6jOuSHRZnf5XBrJg/xED0yew
					cHofB+l/qw2QfkkFKedVMG86C127dIDbt8pv
					tkCv5B071gU7fDwUvS/RDNlSr/h+abZ2SaPf
					gX+PZe3ByqoXvP/+MNixYzd/R1Ll/QobhKkg
					vWyuk+HeSKJSJTL5xwguP0OS7jMU0r004k/8
					xsH44QyMGcpA3AG1ATIwM6Sj1gaz0KJ5Tbhy
					Jb5ch4O9e/ehEWZBo0bDwMZmEjg7rwQ/vyDw
					8fEFNzdPaNp0AA4XXaFBg9ECaG27eodKDDAE
					OM4WrK17gZ3dGFi2LAiHO+03o6RtyZJ1wjSQ
					Pquoi+E+jax5E3JQGu13peAV4PO6pNbxPRwM
					fI+BoEUspF9Q8UpD/bCOhebNGvBP9y4vA9Cr
					eujWcCql27/Q9+jwdOZMLISEhGKhtggcHGbg
					8NEFAb3NX9xKSCtgmFZQq1YXaNNmEIweTe9l
					6APff/89X9yV5vfx9V3D/zwsr+hagME+kLLO
					jMlsti5Rny6kego+XdRFNfRlniw4DmTg6jEs
					IHEoSItTQUQYC02aNIakpKQCMGUp8YYPunyf
					0vs5Obn81+jxZX+XQgNQ+C3pBaOGaQAGc+Cu
					zdzTAvDxGiL+bwXwAnxeCP3Adg56dWHgzH6s
					DdAAaedU4DOXxSKpJx95pQFZlgYoD9Hfw89v
					jQCfrgt0NswhwKISWcdX9RL4aZck8C/Jol4K
					XQCfLkQ8PZ7Zr4I+XRmIwRqBGiAtVgVDBjDg
					5eVlMBmgvAzg67tagE/V3iCLQObDfkysLlEv
					FniiAdJk8AuE0M/9zkGfbgycj+J4A8Qf5KB+
					PQaOHz/+rzKAl1cYv4FWrVYGOQ20mjONzZWD
					F8d6MeIzNES9EnxRp3/l4IPeDNw8ia/PqmDT
					Chbatm1VZCigF2i8ygZwc1smMUALT0IaNUXR
					4yjDWPZlSN+1n7LZ0nSfIU/3CvDT5ODj1Km+
					iBD6no0sTB/LQtoZFa9+3Rn4YmVwQSclJCS8
					sgagGjGCLkq9SQvBXEIa4xDQ6D4KBK0yBAN4
					7N7MKULPuCADf0ED+HPFwaeepUcOUhH6opks
					bPmChdS/VPDnD/RpntXhwYMHfAedOXOmwg1A
					p4YvW5xKr04WXz9+/BRathzAXz4vgS5VjiGc
					+Jm5ZjlbGPnyMV6a8uM0pHsZfN4AQsTTY+pf
					HAx+D6eHh/DfMSqwx4IwNDSU76jnz5/zS6gV
					aYDSzE6UTCAu+ohNfC8mJg4qV24p3C7XRlAR
					A+QZwvp/hxFDmOeapnViuk/XCp4TIl5QEfhq
					6Id/5GDuFMwCp1VwcBsHb7zxBkbIY76zDh48
					aNRDgLyJ2WDZstUS8DYKJrDZZQhlAIcmiIw/
					ymmc2pUc8VwB9DQRuqgYDlJi1CaYPVFtgJRT
					KujbheFX1igwej+++Ph4ozWAPAOI9xxo126A
					BgOIJrDxMpTz/53dprL5Rcb589rGea7oWK8E
					P6ZQ1AApCP7ifjV8qk0hLAwaNKigEzdv3lyk
					U+kp1eTkZP5oDEWgvO3f/6cW+LwBElFtDWez
					dw3y+/WTqnxNUzqlcb4gzReLegl8BE+jPvUU
					VwCf6tZRFdStreIv76YdeOHCBTh06FBBh/r4
					+ICVlRV/FKPMWDKA+iRQqDb4+ahNKMO5N1Al
					c9Ldw5nVqcCTgpeP9dKITxHSfaoI/qSgE2pN
					cGRg/fr1BR25evVquHv3Lv/vUaNGAcuy/FHs
					YF3X+Cu6BqBt1KhZ2gzwCNXG4FaEGr5Odp//
					ozj4VIV0n6oh3YtRL412OXi1ONi+hgU7O7uC
					jqTP/hEj/saNGxAZGckvFMnHV2PIAJcvX4P2
					7W01FYAY/Y3NDM4AndqRZva2zH3FOf0ZhZQv
					H+dPCSlfK3jUcRUko24e5qD+a9Xg2bNnBZ1J
					h4KQkBCNHWtIBlD6/eQmUDBACqq9Ie8MmrFu
					OZvJR74m8JLIl6d7TVGfLIDnFY2vBdn2UcHR
					o0eLdOyuXbsgODi4WAdLjVLRBigJvrge0Lx5
					Hyn8LJQXMfRWoxrZeuY37mlJUZ8qFHglpnsB
					fHK0TMc4CPKoXhDxUm3fvh0WL17ML9JI59Yl
					reIZkgFoi4o6KjXAXkz9KmIErdZ/mjMxt05o
					ruxTisAXKvyTXPF0j2N9MQMcE4Qzgf0RFjB8
					+HDFTj59+jT/NW3nCx49elTuBtAVPm0JCf8g
					+IYU/t+oJsZ0TUiLycOZDGmqT5VV9hrH+uPK
					6b4A/tFC3Tykgg4d2mns7PT0dFiwYAGMHz8e
					Nm7cyN9trKINUJpGnz9oYfH6HYTf3eiuCqpX
					m/Rzn8pk0dU8MeWXlO6ThQKPgk+J5gqgp0jA
					J9HjETwe4SAJC8EenaqWuB6fmJjIG6B37978
					saJqgNJEvzh01bA2y6pWhaz+jw1pbHQmsGlA
					HNyd2IcIPL8I+BMaxvnjEvCydF8gHr6Khx+3
					SwWe8+x13gJGVwbpziJ7e3s+O5SnAUoLnzY6
					tZ35MQefTWOhUT2SU92K0FPAVY3KBBxHeo9z
					YC4lneByi0Y9V9QA0bKUL4d/pCj85MMq+D6M
					hW2Ra0oNY+fOnfDOO+/AnTt3ytwA0m3epW0n
					TpwA34lWcCmcgzNrOZj6EUNvFZNAr8IytmTQ
					sl835sLFfcqRL4JPkY3zSUVSPgUv0Z8qWDCt
					NmRmJL4QmAMHDkC3bt2K1AH6MIB8b//LtIAA
					f4hcZM4bQNTa2SxUtST3sE/fMSoHmKlI3c5t
					yeFfw7m8lONcIXAF8Gr4+D1HODV8GXiq+F85
					OHk86qV2Aa9du7Zgb8HLGkAfwOWtS+d2EPc1
					V8QAVN97sWBZiaRhtxrfw6UYhsxdOKvDk+vR
					rQvBS9K9Grw64pMVwPPC6t95BAv3MtNeGL50
					CfllDVAW8OkZzimDrIrBFxU0ic3H7txDjLBV
					Onr06IEpk0fDprCmPPQ7R4R0rwieKwKeap0v
					C85ODpCb/ajMtoRJ07j0qPSQiZdt+Xk59L8F
					r1NSUuCt5vXh8ApWowGo3n2bAXMVfTSf8TWr
					CxcuROzevRvGjegCm0Kqw/U/ZOClkX+oUKHz
					WRg+zBaysx4UA6EvA5RFRGv6ufn5ubzERqe0
					/fv3B5+x2uFTbZjL5qtY471/ILdr165Pk5KS
					Lm7btu3J8KF9wHOaGcT+zCmCPxDBwUe9GZjh
					9AFkpiXkZ2U9L9Kh+jBB2RggX6sppI3CHzt2
					LIzux5QIn2rrIhYqmZP5xMhbYz9scXFx96OP
					HYMpUyZBz85WMBsjwGMSAxPtGbDry8CypW6Q
					GB8F+blPITfrTl5+XhbfYatWRcChQzEFl1gb
					agYoqaWlpfGR79iLgwsb1ICd7bQbAesAqFGV
					2JNXoTk6OrZzcHDwCgsLOxcZGfnk5MmT+fQB
					zE+f0uXbXHj86GHutWsJsH/vjryQkJDswYP6
					Xatbt+5XhFRzJqRjZOPGAx9Pn+4Pf/xx8qUM
					EB4eDvv37y9X+L///ju/0dXZrijgCHcWBnRi
					4H/BysOBYy9+XaAhedWavb19zQ4dOgxs0aKF
					W82aNX1YlvVFedeqVcujatWq9Fl6b5Jid8zs
					VpWQt0cR0n57nTp9748b5wkrV26G6OizBZd6
					62IAuv7u4uICQ4YM4TeclmWjP5+uSr5ek8A3
					84pBzqPHg5+xYNeNgUkfMvCnrChs0ZCfCppa
					8dZFRUiHboS09iCkzY8M0+pyx46OuS4ufhAS
					Eg6nTsVBenpmwTkEaSFJ3/v77wRwdfUEjqsC
					H3/8Mezdu5c3hz4a/Tn79u3jf271quYwC4e4
					mDUcHA7j4eYLylOa+w/qyoBtZwZCnFhYMZ1P
					/+tMrHU3hTlmiLcIeet9QlqMQc1SX2/Xwo+Q
					5oKaCWoqUQ0UiaxTp86jSZMmARasuXTLWWka
					/X66jZ1+HoctaPEGB4vGWMGpLy0LAI98V7fC
					7+QqDsKcWahdjcAbdcgwE9dynLrSUgVF79t/
					oWbN6vk9enSHkSNHwuzZs/mTTL6+vvyRvqbv
					9+jRA2rXrg3VrC2hV7vKMG+YCnb5mymC9RzJ
					wlZPVicT0GxgbUlOmJBUbGv3dlNyKnQak+8z
					rhLCNQfXISymdBYWDGchaDLLF3FRn+oG9TQO
					A/3bM4pLv1LRGULbJgzg/7ufCUHFtybtmzHn
					dy1l83WB/CmO3ZsXajbEJg8Wxr6nfShwGczQ
					JeAQU9cbTrOsbE7CcAx/cngF91QbPDqdm2Kr
					HbD/BJavB+jpX4WvUfjRpOTHyptaBbSOZiqy
					F+Fl7/TTnBFoFX9ytfZM8e0CFrq3IhApqQm8
					R7PAMOQ8McIHSP7bWh/UzjaNSe5cRwZ+9i2a
					8rcg1PEflFzxH/+Cg8m26mmf8yAmr3E98hX+
					3Oqm7jWeVq+SGX+i5o9qVcjjvu0YfmmXzuE/
					6Ej4qj92nVri0q9UdNFntj1Dt4Ld+7AzccCp
					H2PqUiOuE1DvIkF3PG5EHeZYkoTGyGzfjNzt
					05bkDunO8JmBLu/2bUfSaluT3fg1F6ePGAtT
					95maqZmaqZlaGbX/A5IViSybiXMZAAAAAElF
					TkSuQmCC
					</data>
					<key>LogoFilename</key>
					<string>/Applications/openMSX.app/share/icons/openMSX-logo-128.png</string>
					<key>LogoUsed</key>
					<true/>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PreviewAfterExportRelativeToBaseURL</key>
					<false/>
					<key>ProcessPHP</key>
					<false/>
					<key>PublishingSettings</key>
					<dict>
						<key>publisher</key>
						<string>FTP</string>
						<key>settings</key>
						<dict>
							<key>anonymous</key>
							<false/>
							<key>enablePublicKeyAuthentication</key>
							<true/>
							<key>passiveMode</key>
							<false/>
							<key>path</key>
							<string>sites/openmsx.fixato.net/public</string>
							<key>privateKeyPassphraseSaveInKeychain</key>
							<false/>
							<key>privateKeyPath</key>
							<string>~/.ssh/id_rsa</string>
							<key>publicKeyPath</key>
							<string>~/.ssh/id_rsa.pub</string>
							<key>saveInKeychain</key>
							<true/>
							<key>server</key>
							<string>fixato.net</string>
							<key>sftp</key>
							<true/>
							<key>user</key>
							<string>fixato</string>
						</dict>
					</dict>
					<key>PublishingSettingsConfigured</key>
					<true/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowTidiedCode</key>
					<false/>
					<key>SloganText</key>
					<string>unofficial openMSX builds for Mac &amp;amp; Windows</string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>Dark Glass Copy</string>
					<key>TitleText</key>
					<string>openMSX Builder</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UUID</key>
					<string>4F646D17-2AA8-407B-BAEB-955B437C2318</string>
					<key>WebClipIconUsed</key>
					<false/>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>README.txt</string>
			</array>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
