<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>ID</key>
				<string>page0</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Custom Style</string>
				<key>PageTitle</key>
				<string>Home</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2010-04-02T13:54:47Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>4F646D17-2AA8-407B-BAEB-955B437C2318</string>
					<key>PageDigests</key>
					<dict>
						<key>files/19be172c9ace099668989e9152ea6d7c-4.html</key>
						<dict>
							<key>Digest</key>
							<data>
							PMaTD5V59zz0fycHYjAr
							yg==
							</data>
							<key>Size</key>
							<integer>9398</integer>
						</dict>
						<key>files/26c3b779c513030873444fe7b79240c5-3.html</key>
						<dict>
							<key>Digest</key>
							<data>
							bv7NENipml9NrhQscSOy
							Rw==
							</data>
							<key>Size</key>
							<integer>8138</integer>
						</dict>
						<key>files/47a8a18b5637dbf8db3f0beb987ccd5c-2.html</key>
						<dict>
							<key>Digest</key>
							<data>
							5t6XbhYBi4hl7MuMRToF
							rw==
							</data>
							<key>Size</key>
							<integer>7854</integer>
						</dict>
						<key>files/c6b930f18e2f04dd8a5b2a6e5927f677-0.html</key>
						<dict>
							<key>Digest</key>
							<data>
							21/10jm++lrTml65Kw62
							kg==
							</data>
							<key>Size</key>
							<integer>8645</integer>
						</dict>
						<key>files/c9585f3d563cec05945cf8b7af3543cc-1.html</key>
						<dict>
							<key>Digest</key>
							<data>
							Dq2uTdMZRZpiUwRjD7N5
							uQ==
							</data>
							<key>Size</key>
							<integer>8915</integer>
						</dict>
						<key>files/category-builds.html</key>
						<dict>
							<key>Digest</key>
							<data>
							IC+fgUZDs05Fm81V3KTR
							JA==
							</data>
							<key>Size</key>
							<integer>12655</integer>
						</dict>
						<key>files/category-debugger.html</key>
						<dict>
							<key>Digest</key>
							<data>
							rLWWRVh7rhCCU628d3Iq
							7A==
							</data>
							<key>Size</key>
							<integer>9211</integer>
						</dict>
						<key>files/category-mac.html</key>
						<dict>
							<key>Digest</key>
							<data>
							B41Pk8MbVv3Wa7rEvgzR
							fA==
							</data>
							<key>Size</key>
							<integer>11143</integer>
						</dict>
						<key>files/category-site-updates.html</key>
						<dict>
							<key>Digest</key>
							<data>
							ed/gjUUzZq6mock5kd5d
							pA==
							</data>
							<key>Size</key>
							<integer>16085</integer>
						</dict>
						<key>files/category-windows.html</key>
						<dict>
							<key>Digest</key>
							<data>
							r15t3bIyDSoqi0qIqEXZ
							Sg==
							</data>
							<key>Size</key>
							<integer>7785</integer>
						</dict>
						<key>index.html</key>
						<dict>
							<key>Digest</key>
							<data>
							Los2mvQfURxWCe9d6gyS
							QQ==
							</data>
							<key>Size</key>
							<integer>18546</integer>
						</dict>
						<key>rw_common/images/openMSX-logo-128.png</key>
						<dict>
							<key>Digest</key>
							<data>
							QN3v1pZ6kOXp9UYxMUJh
							Og==
							</data>
							<key>Size</key>
							<integer>8835</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page0</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
