<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>ID</key>
				<string>page0</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Custom Style</string>
				<key>PageTitle</key>
				<string>Home</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2010-06-06T09:30:15Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>4F646D17-2AA8-407B-BAEB-955B437C2318</string>
					<key>PageDigests</key>
					<dict>
						<key>files/0e75140286abacf86c620bf109e5d49e-5.html</key>
						<dict>
							<key>Digest</key>
							<data>
							BruqW9B7vHnYlAIq64RO
							/g==
							</data>
							<key>Size</key>
							<integer>8564</integer>
						</dict>
						<key>files/19be172c9ace099668989e9152ea6d7c-4.html</key>
						<dict>
							<key>Digest</key>
							<data>
							EmqKTy7ZWPpKq9ddJXyj
							Og==
							</data>
							<key>Size</key>
							<integer>9411</integer>
						</dict>
						<key>files/26c3b779c513030873444fe7b79240c5-3.html</key>
						<dict>
							<key>Digest</key>
							<data>
							Ca1Zz4oWJNE1wvtgsAD3
							PQ==
							</data>
							<key>Size</key>
							<integer>8151</integer>
						</dict>
						<key>files/47a8a18b5637dbf8db3f0beb987ccd5c-2.html</key>
						<dict>
							<key>Digest</key>
							<data>
							pEgpz/47kRyBCg+aOlt2
							xA==
							</data>
							<key>Size</key>
							<integer>7867</integer>
						</dict>
						<key>files/c6b930f18e2f04dd8a5b2a6e5927f677-0.html</key>
						<dict>
							<key>Digest</key>
							<data>
							gHlQI7ItKzQWKa9g52fe
							QQ==
							</data>
							<key>Size</key>
							<integer>8658</integer>
						</dict>
						<key>files/c9585f3d563cec05945cf8b7af3543cc-1.html</key>
						<dict>
							<key>Digest</key>
							<data>
							U5PmqmzNC8UczrpkiWU9
							yw==
							</data>
							<key>Size</key>
							<integer>8928</integer>
						</dict>
						<key>files/category-builds.html</key>
						<dict>
							<key>Digest</key>
							<data>
							xqcASHEvqeDXbUCveQZ6
							0A==
							</data>
							<key>Size</key>
							<integer>14889</integer>
						</dict>
						<key>files/category-debugger.html</key>
						<dict>
							<key>Digest</key>
							<data>
							bx9GKx11JIDw7SrhUfTy
							kQ==
							</data>
							<key>Size</key>
							<integer>9224</integer>
						</dict>
						<key>files/category-mac.html</key>
						<dict>
							<key>Digest</key>
							<data>
							wpmF0YYnZ14plaU1mYiK
							8g==
							</data>
							<key>Size</key>
							<integer>13377</integer>
						</dict>
						<key>files/category-site-updates.html</key>
						<dict>
							<key>Digest</key>
							<data>
							mVtSzG1/qksz12tmpjKn
							mg==
							</data>
							<key>Size</key>
							<integer>16098</integer>
						</dict>
						<key>files/category-windows.html</key>
						<dict>
							<key>Digest</key>
							<data>
							FLdml85w7g1QAtiAcYV9
							lg==
							</data>
							<key>Size</key>
							<integer>10019</integer>
						</dict>
						<key>index.html</key>
						<dict>
							<key>Digest</key>
							<data>
							kEfqT6kXILBZCuZSgTu2
							eA==
							</data>
							<key>Size</key>
							<integer>21049</integer>
						</dict>
						<key>rw_common/images/openMSX-logo-128.png</key>
						<dict>
							<key>Digest</key>
							<data>
							QN3v1pZ6kOXp9UYxMUJh
							Og==
							</data>
							<key>Size</key>
							<integer>8835</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page0</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
