<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>rw:theme:dark_glass_copy</key>
		<dict>
			<key>CreationDate</key>
			<date>2010-03-13T13:41:34Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>4F646D17-2AA8-407B-BAEB-955B437C2318</string>
			<key>PageDigests</key>
			<dict>
				<key>css/sidebar/sidebar_hide.css</key>
				<dict>
					<key>Digest</key>
					<data>
					LlAFonemaC092M3vyzll6Q==
					</data>
					<key>Size</key>
					<integer>186</integer>
				</dict>
				<key>css/sidebar/sidebar_left.css</key>
				<dict>
					<key>Digest</key>
					<data>
					AAq7H3VdjHXRvsgS/KEg3g==
					</data>
					<key>Size</key>
					<integer>136</integer>
				</dict>
				<key>css/sidebar/sidebar_right.css</key>
				<dict>
					<key>Digest</key>
					<data>
					EjqlmplMIBTOjnnKnbcozw==
					</data>
					<key>Size</key>
					<integer>84</integer>
				</dict>
				<key>handheld.css</key>
				<dict>
					<key>Digest</key>
					<data>
					07dAiKdfcAsYfWEcJvxr5g==
					</data>
					<key>Size</key>
					<integer>6005</integer>
				</dict>
				<key>images/bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					5RSPqd5LrSyuCsIyyhevkg==
					</data>
					<key>Size</key>
					<integer>124</integer>
				</dict>
				<key>images/bg_glow.png</key>
				<dict>
					<key>Digest</key>
					<data>
					acXanrcboS9GBPPL2hzAPA==
					</data>
					<key>Size</key>
					<integer>17872</integer>
				</dict>
				<key>images/toolbar.png</key>
				<dict>
					<key>Digest</key>
					<data>
					PlrUkf6ID8YxSG5RUgH4uQ==
					</data>
					<key>Size</key>
					<integer>1459</integer>
				</dict>
				<key>javascript.js</key>
				<dict>
					<key>Digest</key>
					<data>
					n0dN9DfVcKHYMmVnniBKtw==
					</data>
					<key>Size</key>
					<integer>14608</integer>
				</dict>
				<key>print.css</key>
				<dict>
					<key>Digest</key>
					<data>
					ArJKImC7ic9P4NvCODQZGg==
					</data>
					<key>Size</key>
					<integer>3798</integer>
				</dict>
				<key>styles.css</key>
				<dict>
					<key>Digest</key>
					<data>
					rmBZ+1pDbug23D0Srz/0bQ==
					</data>
					<key>Size</key>
					<integer>11723</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>rw:theme:dark_glass_copy</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
