<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>ID</key>
				<string>page0</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Custom Style</string>
				<key>PageTitle</key>
				<string>Home</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2010-03-13T16:27:52Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>4F646D17-2AA8-407B-BAEB-955B437C2318</string>
					<key>PageDigests</key>
					<dict>
						<key>files/c6b930f18e2f04dd8a5b2a6e5927f677-0.html</key>
						<dict>
							<key>Digest</key>
							<data>
							eKFoIfobYNevvNdoJW3u
							Pw==
							</data>
							<key>Size</key>
							<integer>6035</integer>
						</dict>
						<key>files/c9585f3d563cec05945cf8b7af3543cc-1.html</key>
						<dict>
							<key>Digest</key>
							<data>
							Hkr4uBaeHwspGanafWm/
							dQ==
							</data>
							<key>Size</key>
							<integer>6007</integer>
						</dict>
						<key>files/category-site-updates.html</key>
						<dict>
							<key>Digest</key>
							<data>
							KahGrcVcczqrJ7MdM/6a
							ew==
							</data>
							<key>Size</key>
							<integer>8730</integer>
						</dict>
						<key>index.html</key>
						<dict>
							<key>Digest</key>
							<data>
							OBN4/BlaLvQzs5jsoTg9
							pg==
							</data>
							<key>Size</key>
							<integer>8455</integer>
						</dict>
						<key>rw_common/images/openMSX-logo-128.png</key>
						<dict>
							<key>Digest</key>
							<data>
							QN3v1pZ6kOXp9UYxMUJh
							Og==
							</data>
							<key>Size</key>
							<integer>8835</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page0</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
